mixin productInfoPreviewCard(titleText, titleBoldText, imgPath, quantityItems, altText="")
    section.products-info-preview-cards-card
        if (altText)
            img(src=imgPath, alt=altText)
        else 
            img(src=imgPath)
        span.line-small-light.products-info-preview-cards-card--line-style
        h6.products-info-preview-cards-card__title #{titleText} #[span.bold-text #{titleBoldText}]
        span.products-info-preview-cards-card__quantity #{quantityItems}